<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Dorks Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles3.css') }}">
</head>
<body>
    <h1>Google Dorks Search</h1>
    <form method="post" action="/dorks">
        <label for="query">Dorks Query:</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>
