<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whois Lookup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
    <h1>Whois Lookup</h1>
    <form method="post" action="/whois">
        <label for="domain">Domain Name:</label>
        <input type="text" id="domain" name="domain">
        <button type="submit">Lookup</button>
    </form>
</body>
</html>
