<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cossmose Instagram</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>
        ░█████╗░░█████╗░░██████╗░██████╗███╗░░░███╗░█████╗░░██████╗███████╗
        ██╔══██╗██╔══██╗██╔════╝██╔════╝████╗░████║██╔══██╗██╔════╝██╔════╝
        ██║░░╚═╝██║░░██║╚█████╗░╚█████╗░██╔████╔██║██║░░██║╚█████╗░█████╗░░
        ██║░░██╗██║░░██║░╚═══██╗░╚═══██╗██║╚██╔╝██║██║░░██║░╚═══██╗██╔══╝░░
        ╚█████╔╝╚█████╔╝██████╔╝██████╔╝██║░╚═╝░██║╚█████╔╝██████╔╝███████╗
        ░╚════╝░░╚════╝░╚═════╝░╚═════╝░╚═╝░░░░░╚═╝░╚════╝░╚═════╝░╚══════╝</h1>
    <form method="post">
        <label for="username">Enter Instagram Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <input type="submit" value="Get Profile Info">
    </form>
</body>
</html>
